@media all and (max-width: 1000px) {
      .calculator{
      width: 50%;
      margin-bottom: 50px;
      }
    }

@media all and (max-width: 670px) {
    .calculator{

      width: 100%;
    }
    }